EMAIL_USE_SMTP=true
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_HOST_USER=anaciurea644@gmail.com
EMAIL_HOST_PASSWORD=PASTE_GMAIL_APP_PASSWORD_HERE
DEFAULT_FROM_EMAIL=anaciurea644@gmail.com
EMAIL_FAIL_SILENTLY=false
